<script type="text/javascript" src="https://checkout.razorpay.com/v1/razorpay.js"></script>
<div class="row">
  <div class="col-12 text-right">
    <span class="green-box">Available Seats: <%=  @library.seats %> </span>
  </div>
<div>
  <%= simple_form_for(@booking, url: create_library_booking_path(@library)) do |form| %>
    <%= form.hidden_field :library_id, :value => params[:library_id] %>
    <%= form.hidden_field :subscription_length %>
    <%= form.hidden_field :razorpay_payment_id %>
    <%= form.hidden_field :plan_id %>
    <ul class="subscription-btn" style="width: 100%">
      <h4>Choose Package</h4>
      <li>
        <%if @library.monthly.present?%>
          <input class="form-check-input radio_buttons optional" type="radio" value="<%= @library.monthly %>" name="booking[package]" id="booking_package_monthly" data-subscription="monthly" data-planId="<%=@library.monthly_plan_id %>">
          <label for="booking_package_monthly"><strong><%=@library.monthly %>-Monthly </strong></label>
        <%end%>
      </li>
      <li>
        <%if @library.quaterly.present?%>
          <input class="form-check-input radio_buttons optional" type="radio" value="<%=@library.quaterly %>" name="booking[package]" id="booking_package_quaterly" data-subscription="quaterly" data-planId="<%=@library.quaterly_plan_id %>" required>
          <label for="booking_package_quaterly"><strong><%=@library.quaterly %>-Quaterly </strong></label>
        <%end%>
      </li>
      <li>
        <%if @library.halfyearly.present? %>
          <input class="form-check-input radio_buttons optional" type="radio" value="<%=@library.halfyearly %>" name="booking[package]" id="booking_package_halfyearly" data-subscription="halfyearly" data-planId="<%=@library.halfyearly_plan_id %>" >
          <label for="booking_package_halfyearly"><strong><%=@library.halfyearly %>-Half Yearly </strong></label>
        <%end%> 
      </li>
      <li>
        <%if @library.yearly.present? %>
          <input class="form-check-input radio_buttons optional" type="radio" value="<%=@library.yearly %>" name="booking[package]" id="booking_package_yearly " data-subscription="yearly" data-planId="<%=@library.yearly_plan_id %>" >
          <label for="booking_package_yearly "><strong><%=@library.yearly %>-Yearly </strong></label>
          <span class="error.msg"></span>
        <%end%>
      </li>
      <li>
        <span class="error_msg_package"></span>
          <input class="form-check-input radio_buttons optional" type="hidden" value="Online" name="booking[payment_method]" id="booking_payment_method_pay_now">
      </li>
    </ul>
    <div class="actions text-right">
      <%= form.submit 'Pay Now', class: 'btn btn-primary', id: 'rzp-button1' %>
    </div>
  </div>
  <% end %>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $("input[name='booking[package]']").on('click', function(){
      var subscription_length = $(this).data('subscription');
      $('#booking_subscription_length').val(subscription_length);
      console.log(subscription_length);
    });
    $("input[name='booking[package]']").on('click', function(){
      var plan_id = $(this).data('planid');
      $('#booking_plan_id').val(plan_id);
      console.log(plan_id);
      $('.error_msg_package').text('');
    });
    });
</script>
<script>
  var loadExternalScript = function(path) {
    var result = $.Deferred(),
        script = document.createElement("script");
    script.async = "async";
    script.type = "text/javascript";
    script.src = path;
    script.onload = script.onreadystatechange = function(_, isAbort) {
      if (!script.readyState || /loaded|complete/.test(script.readyState)) {
        if (isAbort)
          result.reject();
        else
          result.resolve();
      }
    };
    script.onerror = function() {
      result.reject();
    };
    $("head")[0].appendChild(script);
    return result.promise();
  };

  razorpayKeyId = "<%= ENV['RAZORPAY_KEY_ID'] %>";
  var callRazorPayScript = function(itemId, amount) {
    var merchangeName = "<%= @current_user.user_name %>",
        img = "http://www.witmates.com/assets/logo1-b92925ec0ec01ac5b2aad3ea29fbec0e67246a22c00f47174cb8e858efccaad3.png",
        name = "<%= @current_user.user_name %>",
        description = "Payment for <%= @library.name %>",
        amount = amount;
        
    loadExternalScript('https://checkout.razorpay.com/v1/checkout.js').then(function() { 
      var options = {
        key: razorpayKeyId,
        protocol: 'https',
        hostname: 'api.razorpay.com',
        amount: amount * 100,
        name: merchangeName,
        description: description,
        image: img,
        prefill: {
          name: name,
        },
        theme: {
          color: '#f76573'
        },
        handler: function (transaction){
          if (transaction.razorpay_payment_id){
            $('#booking_razorpay_payment_id').val(transaction.razorpay_payment_id)
            $("#new_booking").submit();
          }
          console.log('Transaction id: ' + transaction.razorpay_payment_id);
        }
      };

      window.rzpay = new Razorpay(options);

      console.log('Item Id: ', itemId);
      console.log('Amount: ', amount);
      rzpay.open();
    });
  }

  $('#rzp-button1').on('click', function(e) {
    e.preventDefault();
    var form_invalid = true; 
    $('.error_msg_package').text('');
    $('.error_msg').text('');
    $("input[name='booking[package]']").each(function(index, element){
      if ($(element).is(':checked')){
        form_invalid = false
      }
    })
    if (form_invalid){
      $('.error_msg_package').text('Please select package.')
      return false;
    }
    var amount= $("input[name='booking[package]']:checked").val()
    var plan_id = $("input[name='booking[package]']:checked").data('planid')
    callRazorPayScript(plan_id, amount);
  });
</script>
