<div class="bg-white"> 
  <div class="row">
    <% @bookings.each do |booking| %>
      <div class ="col-4" style="margin-bottom: 10px">
        <% if current_user.bookings.present? %>
          <div class="card" style="width: 300px">
            <div class="card-body"><br>
              <div>
                <% if booking.qrcode %>
                  <%= image_tag booking.qrcode.code.url %>
                <% end %>
              </div>
              <p class="card-text"><strong>Library Name: </strong><%= booking.library.name %></p>
              <p class="card-text"><strong>Name: </strong><%= current_user.user_name %></p>
              <p class="card-text"><strong>Email: </strong><%= current_user.email %></p>
              <p class="card-text"><strong>Package: </strong><%= booking.package %>  <%= booking.subscription_length %><br> </p>
              <p class="card-text"><strong>Payment Type: </strong><%= booking.payment %></p>
              <p class="card-text"><strong>Booking Duration: </strong><%= booking.subscription_length %><br></p>
              <p class= "card-text"><strong>Start Date:</strong><%= booking.start_date %></p>
              <p class= "card-text"><strong>End Date:</strong><%= booking.end_date %><br></p>
        <% end %>
              <%#= link_to 'proceed to payment' '',class: 'btn btn-primary'%> 
            </div>
          </div>
      </div>
    <% end %>
  </div>
<%= will_paginate @bookings, renderer: BootstrapPagination::Rails %>
</div>