<div class="row">
  <div class ="col-4">
    <% @bookings.each do |booking| %>
      <% if current_user.bookings.present? %>
        <div class="card" style="width: 300px">
          <div class="card-body"><br>
            <p class="card-text"><strong>Name: </strong><%= booking.name %></p>
            <p class="card-text"><strong>Email: </strong><%= booking.email %></p>
            <p class="card-text"><strong>Contact_Number: </strong><%= booking.contact_number %></p>
            <p class="card-text"><strong>Package: </strong><%= booking.package %></p>
            <p class="card-text"><strong>Seats: </strong><%= booking.seats %></p>
            <%= link_to 'proceed to payment' '',class: 'btn btn-primary'%>
          </div>
        </div>
      <% else %>
        <p class="card-text">Booking details not found ..!!</p>
      <% end %>
    <% end%>
  </div>
</div>