<div class="bg-white">
  <div class="row">
    <div class="col-6">
      <h3>Bookings</h3>
      <hr>
    </div>
    <div class="col-6 text-right">
    </div>
  </div>
    <table class="table table-striped">
      <% if current_user.bookings.present? %>
        <tr>
          <th scope ="col">Library name</th>
          <th scope = "col">Name</th>
          <th scope ="col">Package</th>
          <th style = "width: 15%">Payment Type</th>
          <th colspan="4"></th>
        </tr>
      <%end%>
        <% @bookings.each do |booking| %>
          <% if current_user.bookings.present? %>
            <tr>
             
              <td><%= booking.library.name %></td>
              <td><%= current_user.user_name %></td>
              <td><%= booking.package %></td>
              <td><%= booking.payment_method %></td>
              <td><%= link_to booking_path(booking.id) do %>
                  <%= fa_icon "eye" %>
                  <% end %>
              </td>
            </tr>
          <%end%>
          <%end%>
          <% if current_user.bookings.blank? %>
            <p> You don't have any bookings.</p>
          <%end%>
    </table>
    <%= will_paginate @booking, renderer: BootstrapPagination::Rails %>
</div>











