<div class="row">
  <div class ="col-6">
    <% @bookings.each do |booking| %>
      <div class="card" style="width: 300px">
        <div class="card-body">
          <p class="card-text"><strong>Name: </strong><%= booking.name %></p>
          <p class="card-text"><strong>Email: </strong><%= booking.email %></p>
          <p class="card-text"><strong>Contact_Number: </strong><%= booking.contact_number %></p>
          <p class="card-text"><strong>Package: </strong><%= booking.package %></p>
          <p class="card-text"><strong>Seats: </strong><%= booking.seats %></p>
          <%= link_to 'proceed to payment' '',class: 'btn btn-primary'%>
        </div>
      </div>
    <% end%>
  </div>
</div>