<div class="row">
  <div class="col-4">      
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%= @booking.name %></h5>
        <p class="card-text"><%= @booking.email %></p>
        <p class="card-text"><%= @booking.contact_number %></p>
        <p class="card-text"><%= @booking.seats %></p>
        <p class="card-text"><%= @booking.package %></p>
      </div>
    </div>
  </div>
</div>