<div class="card">
  <% if library.images.present? %>
  	<%= image_tag library.images.first.avatar.url , class: 'card-img-top' %>
  <% else %>
  	<%= image_tag 'default_library.jpg', class: 'card-img-top' %>
  <% end %>
  <div class="card-body">
    <h5 class="card-title"><%= link_to library.name , library_detail_path(library) %></h5>
    <p class="card-text"><%= fa_icon "map-marker" %> <%= "#{library.city}, #{library.state}" %></p>
    <%= link_to 'Book Your Seat', new_booking_path(library_id: library.id), class: 'btn btn-primary w-100' %>
  </div>
</div>