<%= simple_form_for([:library_owner, @library]) do |form| %>
<div>
  <%= form.input :name,autofocus: true,placeholder: 'YourLibraryname'%>
  <%= form.input :address,hint: 'No special characters' %>
  <%= form.input :open,hint: 'No sepical characters'%>
  <%= form.input :seats ,collection: 0..1000%>
  <%= form.input :availability,collection: 1..1000%> 
</div>
  <div id="images">
    <%= form.simple_fields_for :images do |image| %>
      <%= render 'image_fields', f: image %>
    <% end %>
    <div class="links">
      <%= link_to_add_association 'add image', form, :images %>
    </div>
  </div>
  <%= form.submit %> 
<% end %>