<div class="card">
  <% if library.images.present? %>
  	<%= image_tag library.images.first.avatar.url , class: 'card-img-top' %>
  <% else %>
  	<%= image_tag 'default_library.jpg', class: 'card-img-top' %>
  <% end %>
  <div class="card-body">
    <h5 class="card-title"><%= link_to library.name , library_owner_library_path(library) %></h5>
    <p class="card-text"><%= fa_icon "map-marker" %> <%= "#{library.city}, #{library.state}" %><br>
    Available Seats: <%= library.availability %><br> Booked Seats: <%= library.booked_seats %></p>
    <p class="card-text"></p>
    <hr>
    <%#= link_to 'View All Bookings',bookings_path, class: 'btn btn-primary' %>
  </div>
</div>