<div class="bg-white">
  <div class="row">
    <div class="col-6">
      <h3>Bookings</h3>
      <hr>
    </div>
    <div class="col-6 text-right">
    </div>
  </div>
    <table class="table table-striped">
      <% if @library.bookings.present? %>
        <tr>
          <th scope = "col">Name</th>
          <th style = "col">Email</th>
          <th scope ="col">Package</th>
          <th style = "width: 15%">Payment Type</th>
          <th style = "col">Subscription Type</th>
          <th style = "col">Start Date</th>
          <th style = "col">End Date</th>
          <th style ="col"> payment_status</th>
          <th colspan="8"></th>
        </tr>
      <%end%>
        <% @bookings.each do |booking| %>
          <% if @library.bookings.present? %>
            <tr>
              <td><%= booking.user.user_name %></td>
              <td><%= booking.user.email %></td>
              <td><%= booking.package %></td>
              <td><%= booking.payment_method %></td>
              <td><%= booking.subscription_length %></td>
              <td><%= booking.start_date.strftime('%d %b,%Y') %></td>
              <td><%= booking.end_date&.strftime('%d %b,%Y') %></td>
              <td><%= booking.payment_status %></td>
              <% if booking.payment_status == 'unpaid'%>
                <td><%= link_to 'update payment status',update_unpaid_bookings_library_owner_library_path(booking.id)%></td>
              <%end%>
            </tr>
          <%end%>
        <%end%>
          <% if @library.bookings.blank? %>
            <p> This Library Has No Bookings.</p>
          <%end%>
    </table>
    <%= will_paginate @bookings, renderer: BootstrapPagination::Rails %>
</div>









              
             