<%= render partial: 'image_items', locals: {images: @images} %>
<h1>Show Library</h1>

<p>

  <strong>name:</strong>
  <%= @library.name %>
</p>

<p>
  <strong>address:</strong>
  <%= @library.address %>
</p>

<p>
  <strong>open:</strong>
  <%= @library.open %>
</p>

<p>
  <strong>seats:</strong>
  <%= @library.seats %>

<p>
  <strong>availability:</strong>
  <%= @library.availability %>
</p>


<%= link_to 'Back', library_owner_libraries_path %> |
<%= link_to 'Edit', edit_library_owner_library_path(@library) %>