<div class="card">
  <% if library.images.present? %>
  	<%= image_tag library.images.first.avatar.url , class: 'card-img-top' %>
  <% else %>
  	<%= image_tag 'default_library.jpg', class: 'card-img-top' %>
  <% end %>
  <div class="card-body">
    <h5 class="card-title"><%= link_to library.name , student_library_path(library) %></h5>
    <p class="card-text"><%= fa_icon "map-marker" %> <%= "#{library.city}, #{library.state}" %>,
    Available Seats: <%= library.availability %></p>
    <% if library.availability == 0 %>
      <%= link_to 'All Seats Booked', 'javascript:;', class: 'btn btn-primary w-100' %>
    <% else %>
    <%= link_to 'Book Your Seat', new_booking_path(library_id: library.id), class: 'btn btn-primary w-100' %>
    <%end%>
  </div>
</div>