<div class="bg-white">
  <div class="row">
    <div class="col-6">
      <h2>Listing Libraries</h2>
    </div>
    <div class="col-6 text-right">
    </div>
  </div>
  <table class="table table-striped">
    <tr>
      <th scope ="col">Name</th>
      <th scope ="col">Address</th>
      <th scope = "col">opens</th>
      <th scope ="col">Seats</th>
      <th scope ="col">Availability</th>
      <th style = "width: 15%">Contact Number</th>
      <th colspan="6"></th>
    </tr>
    <% @libraries.each do |library| %>
      <tr>
        <td><%= library.name %></td>
        <td><%= library.library_address %></td>
        <td><%= library.open %></td>
        <td><%= library.seats %></td>
        <td><%= library.availability %></td>
        <td><%= library.contact_number %></td>
        <td>
          <%= link_to admin_library_path(library) do %>
            <%= fa_icon "eye" %>
          <% end %>
        </td>
        <% if current_user && current_user.admin? %>
        <td>
          <%= link_to edit_admin_library_path(library) do %>
            <%= fa_icon "edit" %>
          <% end %>
          
        </td>
        <td>
          <%= link_to admin_library_path(library),method: :delete,
                data: { confirm: 'Are you sure?' } do %>
            <%= fa_icon "trash" %>
          <% end %>
        </td>

    <% end %>
      </tr>
    <% end %>
  </table>
  <div class="row">
    <div class="col-6 text-center">
      <%= will_paginate @library,renderer: BootstrapPagination::Rails %>
    </div>
  </div>
</div>