<div class ="padd-left-40">
  <div class="bg-white">
    <div class="row">
      <div class="col-12">
        <h3>Libraries List</h3>
        <div class="col-12 text-right">
          <span class="black-box">Total: <%= " #{@libraries.count} "%> </span>
        </div>
        <hr>
      </div>
    </div>
    <table class="table table-striped">
      <tr>
        <th>Library Name</th>
        <th>Contact Number</th>
        <th>Owner Name</th>
        <th colspan="3"></th>
      </tr>
      <% @libraries.each do |library| %>
        <tr>
          <td><%= library.name %></td>
          <td><%= library.contact_number %></td>
          <td><%= User.find_by(id: library.user_id)&.user_name %></td>
        </tr>
      <%end%>
    </table>
    <%= will_paginate @users, renderer: BootstrapPagination::Rails %>
  </div>
</div>