<h1>Show Library</h1>
<div>
  <strong>name:</strong>
  <%= @library.name %>
</div>

<div>
  <strong>address:</strong>
  <%= @library.address %>
</div>

<div>
  <strong>open:</strong>
  <%= @library.open %>
</div>

<div>
  <strong>seats:</strong>
  <%= @library.seats %>
</div>

<div>
  <strong>availability:</strong>
  <%= @library.availability %>
</div>

<div>
  <strong>contact number:</strong>
  <%= @library.contact_number %>
</div>

<%= link_to 'Back', admin_libraries_path %>

