<div class="row">
  <div class="col-12">
    <%= simple_form_for(@review) do |form| %>
    <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>
      <ul>
      <% @review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="row">
      <div class="col-6">
        <%= form.hidden_field :user_id %>
        <%= form.hidden_field :library_id,:value => params[:library_id]%>
        <div class="form-group row">
          <%= form.label :rating, class: 'col-3 form-control-label' %>
          <div class="col-6" id='star-rating'></div>
        </div>
        <div class="form-group row">
          <%= form.label :comment, class: 'col-3 form-control-label' %>
          <div class="col-6">
            <%= form.text_area :comment, class: 'form-control' %>
          </div>
        </div>
      </div>
    </div>
      <div class="actions text-right">
        <div class="col-1">
          <%= form.submit 'Submit',class: 'btn btn-primary',id: 'review' %>
          <%#= link_to 'Back',root_path %>
        </div>
      </div>
    <%end%>
  </div>
</div>
<script>
$('#star-rating').raty({
    path: '/assets',
    scoreName: 'review[rating]'
});
</script>
