<div class ="padd-left-40">
  <div class="row">
    <div class="col-12">
      <%= simple_form_for(@review) do |form| %>
      <div class="row">
        <div class="col-6">
          <%= form.hidden_field :user_id %>
          <%= form.hidden_field :library_id,:value => params[:library_id]%>
          <div class="form-group row">
            <%= form.label :rating, class: 'col-3 form-control-label' %>
            <div class="col-6" id='star-rating'></div>
            <!-- <span class='error'></span> -->
          </div>
          <div class="form-group row">
            <%= form.label :comment, class: 'col-3 form-control-label' %>
            <div class="col-6">
              <%= form.text_area :comment, class: 'form-control' %>
            </div>
          </div>
        </div>
      </div>
        <div class="actions text-right">
          <div class="col-1">
          <%= form.submit @review.id ? 'Update' : 'Save', class: 'btn btn-primary' %>
            <%#= form.submit 'Submit',class: 'btn btn-primary',id: 'review' %>
            <%#= link_to 'Back',root_path %>
          </div>
        </div>
      <%end%>
    </div>
  </div>
</div>
<script>
$('#star-rating').raty({
    path: '/assets',
    scoreName: 'review[rating]'
});
$(document).ready(function () {
    $("#new_review").validate({
        rules: {
            "review[rating]": {
                required: true,
            },
            "review[comment]": {
                required: true
            }
        },
        messages: {
            "review[rating]": {
                required: "Please, select a star"
            },
            "review[rating]": {
                required: "Please, enter a comment"
            }
        },
    });
});
    
</script>
