<!DOCTYPE html>
<html>
  <head>
    <title>LibraryApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'ratyrate.js', "data-turbolinks-track": false %>
  </head>
  <body>
    <%=render 'layouts/header' %>
    <div style="background: #ccc;">
      <div class="container" style="margin-top: 60px">
        <div class ="padd-left-30">
          <%=render 'layouts/alert' %>
        </div>
      </div>
      <div class="container body-min-hieght">
        <div class="padd-top-15">
          <div class ="padd-left-30">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
    <%=render 'layouts/footer' %>
  </body>
</html>
